include = """
'^(hybrid_gcs|tests)/'
"""

exclude = """
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
"""

max-line-length = 100
max-complexity = 10
select = ["E", "W", "F", "C901"]
ignore = ["E203", "W503", "E501"]
